version: "3.8"
services:
  api:
    build: ./api
    ports:
      - "3030:3030"
    env_file:
      - ./api/.env
    depends_on:
      - mssql

  client:
    build: ./client
    ports:
      - "3000:3000"
    depends_on:
      - api

  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: mssql
    environment:
      SA_PASSWORD: "300304Cuba"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - mssql_data:/var/opt/mssql
      - ./mssql/helios.bak:/var/opt/mssql/backup/helios.bak
    command: >
      /bin/bash -c "
        /opt/mssql/bin/sqlservr & 
        sleep 20 && 
        /opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P 300304Cuba -Q \"
          RESTORE DATABASE helios 
          FROM DISK = '/var/opt/mssql/backup/helios.bak' 
          WITH MOVE 'helios' TO '/var/opt/mssql/data/helios.mdf', 
               MOVE 'helios_log' TO '/var/opt/mssql/data/helios_log.ldf', 
               REPLACE\"
      "

volumes:
  mssql_data:
