.customer-management {
    max-width: 900px;
    margin: auto;
    background: #0b0b0b;
    color: rgb(219, 210, 210);
    padding: 13px;
    border-radius: 18px;
    
    h1 {
      text-align: center;
      color: #4ab9c7;
      background-color: #0b0b0b;
      font-size: 50px;
    }
    .link-button {
      background: none;
      border: none;
      color: #4dc9ff;
      text-decoration: underline;
      cursor: pointer;
    }
    
    .order-history {
      margin-top: 20px;
      background: #1e1e1e;
      padding: 15px;
      border-radius: 8px;
    }
    
    .order-history table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;
    }
    
    .order-history th,
    .order-history td {
      border: 1px solid #444;
      padding: 8px;
      text-align: center;
    }
    
  
    .controls {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      color: #0b0b0b;
      background-color:#0b0a0a ;

      input , select {
        padding: 8px;
        font-size: 16px;
        color: #fcf8f8;
        font-weight: 550;
        border-radius: 15px;
        
         
      }

      
    }
   
  
    table {
      width: 100%;
      border-collapse: collapse;
      background: #794e4e;
  
      th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #444;
      }
  
      th {
        background: #444;
      }
  
      td {
        background: #555;
      }
  
      .active {
        color: #00ff00;
      }
  
      .locked {
        color: #ff0000;
      }
  
      button {
        padding: 5px 10px;
        border: none;
        cursor: pointer;
        font-size: 14px;
        border-radius: 5px;
  
        &.active {
          background: red;
          color: rgb(236, 228, 228);
        }
  
        &.locked {
          background: green;
          color: white;
        }
      }
    }
  }