.order-history {
    margin-top: 30px;
  
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;
  
      th, td {
        padding: 8px;
        border: 1px solid #faf6f6;
        text-align: center;
      }
  
      th {
        background-color: #0c0c0c;
      }
    }
  }
  