.OrderDetailsDiv {
    width: 100%;
    height: 100%;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    .OrderInfoDiv {
        width: 57.7%;
        border: 2px white solid;

        .OrderDetailsHead {
            display: flex;
            justify-content: space-between;
        }

        .OrderDetailsBody,
        .OrderDetailsProductsList,
        .CustomerDetailsBody {
            p {
                padding-left: 10px;

                strong {
                    span {
                        padding-left: 10px;
                    }
                }
            }
        }

        .OrderDetailsProductsList {
            p {
                padding-left: 5px;
            }

            table {
                width: 100%;
                border: 1px white solid;

                thead {
                    tr {
                        td {
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        .CustomerDetailsHead {
            p {
                padding-left: 5px;
            }
        }
    }
}

button {
    color: white;
}