.login-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background-color: black;
    border-top: 1px gray solid;
    border-bottom: 1px gray solid;
    margin-bottom: 100px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80px;
        height: 2px;
        background: #fbbf24;
        margin-left: -130px;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 80px;
        height: 2px;
        background: #fbbf24;
        margin-left: 220px;
    }
}

.login-box {
    background-color: black;
    padding: 40px;
    width: 400px;
    text-align: center;
}


.login-title {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: black;
    border: 1px solid white;
    color: white;
}

.forgot-password {
    color: white;
    display: block;
    margin-bottom: 20px;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #fbbf24;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.extra-links {
    margin-top: 20px;

    a {
        display: block;
        color: white;
        margin-top: 5px;
    }
}